---
layout: default
title: 我的Blog
---


<h2 class="animated rubberBand">{{ page.title }}</h2>
<p>最新文章</p>
<div class="content-container">
  {% for post in paginator.posts %}
  <a href="{{ site.baseurl }}{{ post.url }}">
    <div class="card">
      <div class="card-header">
        {{ post.title }}
      </div>
      <div class="">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        {{ post.date | date:"%Y-%m-%d"  }}
      </div>
      <div class="card-body">
        {{ post.excerpt}}
      </div>
    </div>
    </a>
  {% endfor %}

</div>

{% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a>
{% endif %}
{% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="active">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
{% endfor %}
{% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a>
{% endif %}
